@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#f8f9fa">
<div class="bg-light text-center">
    <h1 class="display-4">KinoMania</h1>
    <p>Buy tickets for movie premieres!</p>
    <p>Upcoming movies:</p>
        <img src="https://www.themoviedb.org/t/p/original/rN00sd8bKUYAKAw9QMi4caExhKA.jpg" height="400px" width="300px" />
        <img src="https://www.hollywoodreporter.com/wp-content/uploads/2022/07/Oppenheimer-Movie-Poster-Universal-Publicity-EMBED-2022-.jpg?w=1000" height="400px" width="300px"/>
        <img src="https://preview.redd.it/official-poster-for-dungeons-dragons-honor-among-thieves-v0-pipbhmro534a1.jpg?auto=webp&s=a9250e3badd82db177b7a5b06955110661ce8bb0" height="400px" width="300px" />
</div>
</body>

